/* Reset and base styles */


p, ol, ul {
    margin-top: 0;
}

ol, ul {
    padding: 0;
    list-style: none;
}

p {
    line-height: 180%;
}

a {
    color: #ee0000;
}

a:hover {
    text-decoration: none;
}

/* General container */
.container {
    overflow: hidden;
    margin: 0 auto;
}

/* Image styles */
.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}

/* List styles */
ul.actions li {
    display: inline-block;
    padding: 0em 0.50em;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 1.40em 3em;
    letter-spacing: 0.10em;
    background: #f3cc2f;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: #3f0900;
    transition: all 0.3s ease;
}

.button-alt {
    padding: 1em 2em;
    border-color: rgba(0.1, 0.2, 0, .8);
}

.button:hover {
    background: transparent;
    color: #f3cc2f;
    border: 2px solid #b6b1b0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 2em;
}

/* Title and byline styles */
.titles {
    margin-bottom: 3em;
    
}

.titles h2 {
    font-size: 2.7em;
    color: white;
}

.titles .byline {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.60);
}

/* Wrapper styles */
#wrapper {
    position: relative;
    padding: 5em 0em 7em 0em;
    background: #FFF;
}

/* Header wrapper styles */
#header-wrapper {
    position: relative;
    padding: 5em 0em 0em 0em;
    background: #111111 url(pic1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 830px;
}

#header {
    position: relative;
    padding: 5em 0em 10em 0em;
}

/* Logo styles */
#logo {
    position: absolute;
    top: 3.6em;
    left: 0;
    height: 50px;
    width: 140px;
}

/* Menu styles */
#menu {
    position: absolute;
    margin-top: -84px;
    margin-left: 644px;
    display: flex;
    flex-direction: column;
    width: 2000px;
}

#menu ul {
    display: inline-block;
    font-family: 'Aonslie Sans Conc', sans-serif;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a,
#menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: black;
}

#menu .active a {
    background: #f3cc2f;
    border-radius: 6px;
    color: #3f0900;
}

#menu ul li a:hover {
    text-decoration: underline;
    transition: color 0.3s;}

/* Banner styles */
#banner-wrapper {
    padding: 4em 0em;
    background: rgba(0, 0, 0, 0.5);
}

#banner {
    text-align: center;
}

#banner .titles h2 {
    font-size: 4em;
    color: white;
}

#banner .title .byline {
    font-size: 2em;
}

#banner .button {
    margin-top: 2em;
    padding: 1.40em 3em;
    border-radius: 6px;
    font-weight: 700;
    font-size: 1em;
}

.banner {
    margin-bottom: 5em;
}

/* Déconnexion button specific styles */
#deconnexion {
    margin-left: 10px;
    height: 41px;
    margin-top: -15px;
    width: 118px;
    background-color: #f3cc2f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 0.8em;
}

#deconnexion span {
    margin-left: -3px;
    margin-top: -20px;
}
#deconnexion:hover {
    text-decoration: underline;
    color: black; /* Optional: Change text color on hover */
    transition: color 0.3s;
}


/* Welcome message */
.welcome {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
}

.icon {
    width: 25px; /* Adjust size as needed */
    height: 25px; /* Adjust size as needed */
    margin-right: 10px; /* Adjust spacing between icon and text */
    margin-bottom: -5px;
}