.infoCard {
    width: 1133px;
    height: 493px;
    background: #213C55;
    border: 3px solid;
    align-items: center;
    box-sizing: border-box;
    margin-top: 80px;
  
    
   
}


.instituteImage {
    width: 340px;
    height: 308px;
    margin-left: -770px;
    margin-top: 24px;
}

.instituteTitle {
    width: 845px;
    height: 88px;
    color: #D9D9D9;
    font-size: 36px;
    font-family: 'Inter';
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: -50px;
}

.instituteDescription {
    width: 700px;
    height: 690px;
    color: #AEBDD3;
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 10px;
    margin-top: 45px;
}
