/* Home.css */

.actualites-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  height: 900px;
}

.actualites-container h2 {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 45px;
  font-family: 'Aonslie Sans Conc', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-top: 70px;
  margin-bottom: 30px;
}

.actualites-container h4 {
  width: 100%;
  text-align: center;
  color:   #4C5C75;
  font-size: 25px;
  font-family: 'Aonslie Sans Conc', sans-serif;
  font-style: italic;
  font-weight: 400;

}

.actualite-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.actualite-group > * {
  flex: 1;
  gap: -50px;
  box-sizing: border-box;
  background: rgb(119, 27, 27);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Proxima Nova', sans-serif;
}

.actualite-slide {
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
}

/* Slider Navigation */
.slick-prev:before, .slick-next:before {
  color: black;
  font-family: 'Proxima Nova', sans-serif;
}

/* Slider Dots */
.slick-dots li button:before {
  color: black;
  font-family: 'Proxima Nova', sans-serif;
}

.intro-container {
  margin-top: 40px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-family: 'Proxima Nova', sans-serif;
}

.user-info span {
  margin-right: 10px;
}

.admin-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Proxima Nova', sans-serif;
}

.admin-button:hover {
  background-color: #0056b3;
}